In [104]:
import pandas as pd
import pandas as pd
import numpy as np
from difflib import SequenceMatcher

In [105]:
df_off = pd.read_excel('off.xlsx')
df_on = pd.read_excel('on.xlsx')
df_remain = pd.read_excel('remain.xlsx')
df_result = pd.read_excel('result.xlsx')

In [112]:
df_off.columns

Index(['No.', '상품소분류', '상풐코드', '상 품 명', '합 계', 'Unnamed: 5', 'Unnamed: 6',
       '뱅가드와인머천트(강남점)', 'Unnamed: 8', 'Unnamed: 9', '뱅가드와인머천트(광화문점)',
       'Unnamed: 11', 'Unnamed: 12', '뱅가드와인머천트(부산센텀점)', 'Unnamed: 14',
       'Unnamed: 15', '뱅가드와인머천트(분당점)', 'Unnamed: 17', 'Unnamed: 18',
       '뱅가드와인머천트(송파점)', 'Unnamed: 20', 'Unnamed: 21', '뱅가드와인머천트(여의도점)',
       'Unnamed: 23', 'Unnamed: 24', '뱅가드와인머천트(판교점)', 'Unnamed: 26',
       'Unnamed: 27', '바코드', 'ERP코드'],
      dtype='object')

In [113]:
df_off

,No.,상품소분류,상풐코드,상 품 명,합 계,Unnamed: 5,Unnamed: 6,뱅가드와인머천트(강남점),Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,뱅가드와인머천트(여의도점),Unnamed: 23,Unnamed: 24,뱅가드와인머천트(판교점),Unnamed: 26,Unnamed: 27,바코드,ERP코드
0,NaN,NaN,NaN,NaN,수량,총매출액,순매출액,수량,총매출액,순매출액,...,총매출액,순매출액,수량,총매출액,순매출액,수량,총매출액,순매출액,NaN,NaN
1,1,우드랜즈,T0000209,왓슨패밀리 샤도네이,426,9372000,9178400,38,836000,814000,...,2002000,1966800,152,3344000,3313200,31,682000,"629,200",NaN,NaN
2,2,우드랜즈,T0000208,왓슨패밀리 소비뇽블랑 세미용,215,4730000,4452800,51,1122000,1047200,...,594000,567600,35,770000,715000,18,396000,"365,200",NaN,NaN
3,3,우드랜즈,T0000211,왓슨패밀리 쉬라즈,411,9042000,8784600,60,1320000,1289200,...,2200000,2138400,110,2420000,2393600,41,902000,"864,600",NaN,NaN
4,4,우드랜즈,T0000210,왓슨패밀리 카베르네 메를로,211,4642000,4242332,61,1342000,1272168,...,616000,492244,35,770000,718844,17,374000,"335,181",NaN,NaN
5,5,우드랜즈,T0000215,우드랜즈 마가렛,366,25620000,23877000,52,3640000,3262000,...,4480000,4137000,65,4550000,4319000,81,5670000,"5,474,000",NaN,NaN
6,6,우드랜즈,T0000212,우드랜즈 윌리야브럽 샤도네이,654,20928000,19340800,111,3552000,3235200,...,2720000,2576000,109,3488000,3276800,95,3040000,"2,793,600",NaN,NaN
7,7,우드랜즈,T0000213,우드랜즈 윌리야브럽 카베르네,875,28000000,26006400,191,6112000,5651200,...,4832000,4579200,127,4064000,3846400,166,5312000,"4,937,600",NaN,NaN
8,8,우드랜즈,T0000216,우드랜즈 카베르네 패밀리시리즈,77,13552000,12918400,26,4576000,4382400,...,3696000,3449600,10,1760000,1672000,4,704000,"686,400",NaN,NaN
9,9,우드랜즈,T0000214,우드랜즈 클레멘타인,620,32240000,30815200,63,3276000,3078400,...,7904000,7774000,75,3900000,3770000,192,9984000,"9,313,200",NaN,NaN
10,소계,NaN,NaN,NaN,3855,148126000,139615932,653,25776000,24031768,...,29044000,27680844,718,25066000,24024844,645,27064000,25398981,-,-
11,전체 합계,NaN,NaN,NaN,3855,148126000,139615932,653,25776000,24031768,...,29044000,27680844,718,25066000,24024844,645,27064000,25398981,-,-

In [148]:
df_off['상 품 명'].values[-1]
off_array = list(df_off['상 품 명'].values[~pd.isnull(df_off['상 품 명'].values)])
on_array = list(df_on['품목명'].values[~pd.isnull(df_on['품목명'].values)])
remain_array = list(df_remain[df_remain.columns[1]].values[~pd.isnull(df_remain[df_remain.columns[1]].values)])[1:]

In [111]:
df_on

,매입처\n코드,매입처명,품목\n코드,품목명,용량,입수,BOX,EA,공급가,부가세,소계,용기,공병,보증금계,합계,매출원가,마진액
0,90036,Woodlands,61100.0,왓슨 패밀리 와인즈 소비뇽블랑 세미용,750ml,12.0,0,6,"102,000","10,200","112,200",0,0,0,"112,200",10000,10000
1,NaN,NaN,61101.0,왓슨 패밀리 와인즈 샤도네이,750ml,12.0,0,3,"51,000","5,100","56,100",0,0,0,"56,100",10000,10000
2,NaN,NaN,61102.0,왓슨 패밀리 와인즈 카베르네 메를로,750ml,12.0,0,160,"2,716,600","271,660","2,988,260",0,0,0,"2,988,260",10000,10000
3,NaN,NaN,61103.0,왓슨 패밀리 와인즈 쉬라즈,750ml,12.0,0,108,"1,836,000","183,600","2,019,600",0,0,0,"2,019,600",10000,10000
4,NaN,NaN,61111.0,우드랜즈 윌리야브럽 밸리 샤도네이,750ml,12.0,0,105,"2,642,509","264,251","2,906,760",0,0,0,"2,906,760",10000,10000
5,NaN,NaN,61112.0,우드랜즈 윌리야브럽 밸리 카베르네 메를로,750ml,12.0,0,45,"1,141,195","114,120","1,255,315",0,0,0,"1,255,315",10000,10000
6,NaN,NaN,61113.0,우드랜즈 클레멘타인,750ml,12.0,0,13,"522,545","52,255","574,800",0,0,0,"574,800",10000,10000
7,NaN,NaN,61114.0,우드랜즈 마가렛,750ml,12.0,0,42,"2,270,730","227,073","2,497,803",0,0,0,"2,497,803",10000,10000
8,NaN,NaN,61115.0,우드랜즈 카베르네 패밀리 시리즈,750ml,6.0,0,1,"128,000","12,800","140,800",0,0,0,"140,800",10000,10000
9,소계,NaN,NaN,NaN,NaN,NaN,0,483,"11,410,579","1,141,059","12,551,638",0,0,0,"12,551,638",90000,90000
10,총계,NaN,NaN,NaN,NaN,NaN,0,483,11410579,1141059,12551638,0,0,0,12551638,900000,9000000

In [160]:
from utils import *
from difflib import SequenceMatcher

result_on_off = match_wine_names(off_array, on_array)
result_off_remain = match_wine_names(off_array, remain_array)

In [161]:
result_on_off

{'왓슨패밀리 샤도네이': '왓슨 패밀리 와인즈 샤도네이',
 '왓슨패밀리 소비뇽블랑 세미용': '왓슨 패밀리 와인즈 소비뇽블랑 세미용',
 '왓슨패밀리 쉬라즈': '왓슨 패밀리 와인즈 쉬라즈',
 '왓슨패밀리 카베르네 메를로': '왓슨 패밀리 와인즈 카베르네 메를로',
 '우드랜즈 마가렛': '우드랜즈 마가렛',
 '우드랜즈 윌리야브럽 샤도네이': '우드랜즈 윌리야브럽 밸리 샤도네이',
 '우드랜즈 윌리야브럽 카베르네': '우드랜즈 윌리야브럽 밸리 카베르네 메를로',
 '우드랜즈 카베르네 패밀리시리즈': '우드랜즈 카베르네 패밀리 시리즈',
 '우드랜즈 클레멘타인': '우드랜즈 클레멘타인'}

In [162]:
result_off_remain

{'왓슨패밀리 샤도네이': '왓슨 패밀리 와인즈 샤도네이',
 '왓슨패밀리 소비뇽블랑 세미용': '왓슨 패밀리 와인즈 소비뇽블랑 세미용',
 '왓슨패밀리 쉬라즈': '왓슨 패밀리 와인즈 쉬라즈',
 '왓슨패밀리 카베르네 메를로': '왓슨 패밀리 와인즈 카베르네 메를로',
 '우드랜즈 마가렛': '우드랜즈 마가렛',
 '우드랜즈 윌리야브럽 샤도네이': '우드랜즈 윌리야브럽 밸리 샤도네이',
 '우드랜즈 윌리야브럽 카베르네': '우드랜즈 윌리야브럽 밸리 카베르네 메를로',
 '우드랜즈 카베르네 패밀리시리즈': '우드랜즈 카베르네 패밀리 시리즈',
 '우드랜즈 클레멘타인': '우드랜즈 클레멘타인'}

In [108]:
columns = [
    'No.', '상품소분류', '상 품 명', 'OFF 수량', 'ON 수량', 'TOTAL 수량', '기간 개월수', '월판매량 수량',
    '현재고 수량', '발주분 수량', '총재고 수량', '재고월수', '3개월후 재고', '발주희망', '발주수량 병',
    '발주수량 박스단위', '예상발주 박스', '발주확정 박스', '발주확정 병'
]

# 빈 데이터프레임 생성
df = pd.DataFrame(columns=columns)

In [122]:
df['상 품 명'] = off_array
df['OFF 수량'] = df_off['합 계'].values[1:-2]

In [150]:
## on 수량 dictionalry로 만들기
on_dict = {}
for i in range(len(df_on)):
    if df_on['품목명'][i] in on_array:
        on_dict[df_on['품목명'][i]] = df_on['EA'][i]
        
remain_dict = {}
for i in range(len(df_remain)):
    if df_remain[df_remain.columns[1]][i] in remain_array:
        #column1 = 품목, column 9 = 수량
        remain_dict[df_remain[df_remain.columns[1]][i]] = df_remain[df_remain.columns[9]][i]

In [163]:
df['ON 수량'] = [on_dict[result_on_off[name]] if name in result_on_off else 0 for name in off_array]
df['현재고 수량'] = [remain_dict[result_off_remain[name]] if name in result_off_remain else 0 for name in off_array]

In [165]:
df

,No.,상품소분류,상 품 명,OFF 수량,ON 수량,TOTAL 수량,기간 개월수,월판매량 수량,현재고 수량,발주분 수량,총재고 수량,재고월수,3개월후 재고,발주희망,발주수량 병,발주수량 박스단위,예상발주 박스,발주확정 박스,발주확정 병
0,NaN,NaN,왓슨패밀리 샤도네이,426,3,NaN,NaN,NaN,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,왓슨패밀리 소비뇽블랑 세미용,215,6,NaN,NaN,NaN,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,왓슨패밀리 쉬라즈,411,108,NaN,NaN,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,왓슨패밀리 카베르네 메를로,211,160,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,우드랜즈 마가렛,366,42,NaN,NaN,NaN,597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,우드랜즈 윌리야브럽 샤도네이,654,105,NaN,NaN,NaN,517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,우드랜즈 윌리야브럽 카베르네,875,45,NaN,NaN,NaN,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,우드랜즈 카베르네 패밀리시리즈,77,1,NaN,NaN,NaN,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,우드랜즈 클레멘타인,620,13,NaN,NaN,NaN,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import PatternFill
from openpyxl.utils import get_column_letter
# 2. pandas로 엑셀 파일로 저장
output_file = 'result_with_formulas_1.xlsx'
df.to_excel(output_file, index=False, engine='openpyxl')

# 3. openpyxl로 엑셀 파일 불러오기
wb = load_workbook(output_file)
ws = wb.active


# 5. 엑셀 파일 저장
wb.save(output_file)

# 노란색 채우기 스타일 정의 (3개월 후 재고가 음수인 경우)
yellow_fill = PatternFill(start_color='FFFF00', end_color='FFFF00', fill_type='solid')

# 12개월, 월 판매량, 총재고, 재고월수, 3개월 후 재고 등 수식 적용
for row in range(2, ws.max_row + 1):
    # TOTAL 수량 계산: OFF 수량 + ON 수량
    ws[f'F{row}'] = f"=D{row}+E{row}"
    
    # 기간 개월수는 12로 고정
    ws[f'G{row}'] = 12
    
    # 월 판매량 계산: TOTAL 수량 / 기간 개월수 (소수점 버림)
    ws[f'H{row}'] = f"=TRUNC(F{row}/G{row})"
    
    # 총재고는 현재고 수량과 동일
    ws[f'K{row}'] = f"=I{row}"
    
    # 재고월수 계산: 현재고 수량 / 월 판매량
    ws[f'L{row}'] = f"=ROUND(I{row}/H{row},2)"
    
    # 3개월 후 재고 계산: 총재고 - 3 * 월 판매량
    ws[f'M{row}'] = f"=K{row}-3*H{row}"
    
    # 발주희망 계산: 월 판매량 * 12 - 3개월 후 재고
    ws[f'N{row}'] = f"=H{row}*12 - M{row}"
    
    # 발주수량 병: 발주희망과 동일
    ws[f'O{row}'] = f"=N{row}"
    
    # 박스 단위: 12로 고정
    ws[f'P{row}'] = 12
    
    # 예상발주 박스: 발주수량 병 / 박스 단위
    ws[f'Q{row}'] = f"=O{row}/P{row}"
    
    # 발주확정 박스: 예상발주 박스와 동일
    ws[f'R{row}'] = f"=Q{row}"
    
    # 발주확정 병: 발주확정 박스 * 12
    ws[f'S{row}'] = f"=R{row}*12"
    
    # # 3개월 후 재고가 음수일 경우 노란색으로 표시
    # if ws[f'M{row}'].value is not None and int(ws[f'M{row}'].value) < 0:
    #     ws[f'M{row}'].fill = yellow_fill

# 마지막 행에 각 열의 합계를 추가
sum_row = ws.max_row + 1
for col in range(4, ws.max_column + 1):  # D열부터 S열까지 합계 계산
    col_letter = get_column_letter(col)
    ws[f'{col_letter}{sum_row}'] = f"=SUM({col_letter}2:{col_letter}{ws.max_row-1})"

# 컬럼 너비 자동 조정
for column_cells in ws.columns:
    max_length = 0
    column = column_cells[0].column_letter  # 해당 컬럼 이름(A, B, C...)
    for cell in column_cells:
        try:
            if cell.value:
                max_length = max(max_length, len(str(cell.value)))
        except:
            pass
    adjusted_width = (max_length + 2)
    ws.column_dimensions[column].width = adjusted_width

# 엑셀 파일 저장
wb.save(output_file)

print(f"{output_file} 파일이 생성되었고, 엑셀 함수 및 서식이 적용되었습니다.")

result_with_formulas_1.xlsx 파일이 생성되었고, 엑셀 함수 및 서식이 적용되었습니다.

In [140]:
!pip install xlrd
!pip install openpyxl
!pip install pandas

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 221.2 kB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: openpyxl in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/daniel/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip